
.title_idfind {
    margin: 40px 20% 40px 20%;
}

.contents {
    width: 60%;
    margin: 40px 20% 40px 20%;
    padding: 40px;
    text-align: center;
    margin: 0  auto;
}
.enter {
    display: flex;
    justify-content: end;
    margin-right:20%;
    margin-bottom: 40px;
}
.enter > :nth-child(1) {
    margin-right: 20px;
}
.contents hr {
	margin: 0 20% 20px 20%;
}

.phone, .name {
    margin-bottom: 30px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);

}
#idfindbtn{
    margin-bottom: 150px;
    width: 60%;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
}
#idchangebtn{
    margin-bottom: 20px;
    width: 100px;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    font-size: x-small;
}
.idknow{
    margin-bottom: 20px;
    width: 60%;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
}
.reset {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

#confirm_btn{
	border: 1px solid lightgray;
}