#join_h1{
    font-family: 'Do Hyeon', sans-serif; 
    margin-left: 50px;
    margin-top: 50px; 
    font-size: 50px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 100px;
}
.contents {
	border: 1px solid  rgb(238, 238, 238);
    width: 60%;
    margin: 40px 20% 40px 20%;
    padding: 40px 0 40px 0;
    border-radius:5%;
}
#insert div input{
    width: 60%;
    margin-bottom: 15px;
    margin-left:20%;
}
.contents p{
    text-align: left;
    margin-top: 10px;
    color: gray;
}
#insert{
    color: gray;
}
.check {
	display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
}
#checkForm textarea{
    width: 60%;
    margin-left:20%;
    margin-bottom: 10px;
}
#joinbtn{
    width: 60%;
    background-color:white;
    color: gray;
    margin-left:20%
    
}
.contents hr {
	margin: 40px 20% 40px 20%;
}