.mylist {
    margin: 100px 25% 40px 20%;
    font-family: 'Do Hyeon', sans-serif;
}

.myreview {
    width: 60%;
    margin: 40px 20% 40px 20%;
    font-family: Noto Sans KR;
}
.myreview a:link {
	text-decoration: none;
}
.myreview a {
	color: black;
}

.enter {
    display: flex;
    justify-content: end;
    margin-right:20%;
    margin-bottom: 40px;
    font-family: Noto Sans KR;
}
.enter > :nth-child(1) {
    margin-right: 20px;
}

.myboard {
    width: 60%;
    margin: 40px 20% 40px 20%;
    font-family: Noto Sans KR;
}
.myboard a {
	color: black;
}
.myboard a:link{
	text-decoration: none;

}