/* * {
    border: 1px solid black;
}  */
.container {
	margin-top: 150px;
	margin-bottom: 100px;
}

#zzimimg img {
	width: 30px;
	height: 30px;
}

#mypage_exp {
	font-family: 'Do Hyeon', sans-serif;
	font-weight: 300;
	margin-left: 50px;
	font-size: 20px;
	color: rgb(37, 49, 109)
}

#space_icon {
	width: 30px;
}

#mypage_h1 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight: 500;
	margin-left: 50px;
	margin-top: 100px;
	font-size: 50px;
	display: flex;
	flex-flow: row nowrap;
}

.mypage_section {
	font-family: Noto Sans KR;
}

.mypage_section {
	display: flex;
	justify-content: center;
}

#mypage_a{
	text-decoration: none;
}
#mypage_a {
	 color: rgb(37, 49, 109);
}

.mypage_mylist a:hover {
	text-decoration: none;
	color: rgb(37, 49, 109);
}

.mypage_section1 {
	width: 30%;
	height: 70%;
	display: inline-block;
	margin-right: 50px;
	text-align: center;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	margin-bottom: 50px;
}

.mypage_mylist {
	padding-bottom: 20px;
}

.mypage_con1 {
	overflow: hidden;
	height: 300px;
}

.mypage_con1 hr {
	margin: 0 20% 0 20%;
}

.mypage_con-img1 {
	margin-top: 40px;
	width: 50%;
	height: 40%;
	object-fit: fill;
	border-radius: 5px;
}

.mypage_section2 {
	width: 60%;
	 align-self: center; 
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
}

.mypage_con2 table {
	width: 100%;
	height: 300px;
	
	font-family: 'Noto Sans KR', sans-serif; 
}

.mypage_con2 th, td {
	text-align: center;
}

.mypage_con2 a:hover {
	text-decoration: none;
}

.mypage_con2 a:visited {
	text-decoration: none;
	color: black;
}

.mypage_con2 table {
	border-radius: 5px;
}
.profile td {
	width:200px;
}
#od, #ofd, #namechange {
	border: none;
	font-family: 'Noto Sans KR';
	padding: 5px;
	background-color: white;
	color: navy;
}

#od1, #ofd1, #mailchange {
	border: none;
	font-family: 'Noto Sans KR';
	padding: 5px;
	background-color: white;
	color: navy;
}

#od2, #ofd2, #phonechange {
	border: none;
	font-family: 'Noto Sans KR';
	padding: 5px;
	background-color: white;
	color: navy;
}

#fileok{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;

}

#filesave{
	margin-top:10px;
	margin-right:10px;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	padding:5px 10px 5px 10px;
}

.fileimg label {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
	
}

