#idfind_h1 {
	font-family: 'Do Hyeon', sans-serif;
	margin-left: 220px;
	font-size: 50px;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;
}

#pwfind_exp {
	font-family: 'Do Hyeon', sans-serif;
	font-weight: 300;
	margin-left: 220px;
	font-size: 20px;
	color: rgb(37, 49, 109)
}

#space_icon {
	width: 30px;
}

.contents {
	font-family: 'Noto Sans KR', sans-serif;
	border: 1px solid rgb(238, 238, 238);
	width: 60%;
	margin: 40px 20% 40px 20%;
	padding: 40px;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
}

.container {
	margin-top: 150px;
	margin-bottom: 100px;
}

.enter {
	display: flex;
	justify-content: end;
	margin-right: 20%;
	margin-bottom: 40px;
}

.enter>:nth-child(1) {
	margin-right: 20px;
}

.contents hr {
	margin: 0 20% 20px 20%;
}

.id, .name {
	margin-bottom: 15px;
	width: 60%;
	border-radius: 5px;
	border: 1px solid rgb(238, 238, 238);
	padding: 10px;
}

#pwfindbtn {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 50px;
	width: 60%;
	background-color: white;
	border: 1px solid rgb(238, 238, 238);
}

#pwchangebtn {
	padding: 10px;
	margin-bottom: 20px;
	width: 100px;
	background-color: white;
	border: 1px solid rgb(238, 238, 238);
	font-size: x-small;
	border-radius: 5px;
}

.pwknow {
	padding: 10px;
	margin-bottom: 20px;
	width: 60%;
	background-color: white;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
}

.reset {
	display: flex;
	justify-content: right;
	margin-right: 20%;
}