.accordion {
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
}
.accordion:hover {
    background-color: #F5F5F5;
}
.active{
    background-color: lightgray;
}
.accordion:after {
    float: right;
    margin-left: 5px;
}
.panel {
    padding: 0 16px;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #EEEEEE;
}