/* * {
    border: 1px solid black;
} */
.container h1{
	text-align: left;
	margin-left: 50px;
	font-family: 'Do Hyeon', sans-serif;
}

#host_exp{
	font-family: 'Do Hyeon', sans-serif;
	font-weight: 300;
	margin-left: 50px;
	font-size: 20px;
	color: rgb(37, 49, 109)
}

#space_icon {
	width: 30px;
}

.container{
	margin-top: 150px;
	margin-bottom: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}
.section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
a {
    color: rgb(37, 49, 109);
    text-decoration: none;
}
.hostlist a:hover {
    text-decoration: none;
    
}
a:visited {
    text-decoration: none;
    color:  rgb(37, 49, 109);
}

a:hover{
	text-decoration: none;
}
.host_section1 {
    width: 30%;
    height: 70%;
    display: inline-block;
    margin-right: 50px;
    text-align: center;
  	border : 1px solid rgb(238, 238, 238); 
  	border-radius: 5px;
  
}

.hostlist {
    padding-bottom: 20px;
    
}

.host_con1 {
    overflow: hidden;
    height: 300px;
}

.host_con-img1 {
    margin-top: 40px;
    width: 50%;
    height: 40%;
    object-fit: fill;
}

.host_section2 {
    width: 60%;
    align-self: center;
   border : 1px solid rgb(238, 238, 238); 
  	border-radius: 5px;
}

.host_con2 table {
    width: 100%;
    height: 300px;
}
.host_con2 th, td {
    padding-left: 20px;
}
.con2 a:hover {
    text-decoration: none;
}

button[type=submit] {
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
	border : none;
	border-radius : 5px;
	padding : 10px;
	background-color: rgb(238, 238, 238);
}