/* * {
    border: 1px solid black;
} */
.active {
	background-color: rgb(254, 245, 172);
	transition-duration: 0.5s;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

.deactive {
	background-color: transparent;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

li {
	list-style: none;
}

.header {
	display: flex;
	background-color: rgb(37, 49, 109);
	color: red;
	justify-content: space-between;
}

.small_header {
	display: flex;
	flex-direction: row;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100px;
}

.search {
	margin-right: 50px;
}

#logo {
	width: 250px;
	margin-left: 15px;
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color: white;
}

#space {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 50px;
	text-align: center;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

#space:hover {
	transition: 0.5s;
	transform: translateY(-5px);
}

#text {
	border-radius: 10px;
	margin: 20px;
	width: 400px;
	height: 40px;
	border: none;
	background-color: rgb(238, 238, 238);
	background-image: url(/img/search.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 10px center;
	padding: 0 35px;
}

#text:focus {
	outline: 0.5px solid rgb(151, 210, 236);
}

.sidelist {
	width: 0;
	position: fixed;
	z-index: 1;
	background-color: rgb(238, 238, 238);
	height: 330px;
	top: 0;
	right: 0;
	color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-radius: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

#sidelisticon {
	width: 45px;
	height: 45px;
	top: 30px;
	right: 30px;
}

.sidelist a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidelist a:hover {
	color: rgb(238, 238, 238);
}

.sidelist .listoff {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 36px;
}

.liston {
	font-size: 20px;
	cursor: pointer;
	z-index: 1;
	color: black;
	border: none;
	right: 0;
	padding: 0;
	position: fixed;
}

/* .main {
    border: 1px solid red;
} */

/* 부트스트랩 */
#carouselExampleFade {
	z-index: 0;
	align-content: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 70%;
}

#intro {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 40px;
}

#info {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 60px;
	color: rgb(254, 245, 172);
}

#google {
	width: 230px;
	height: 80px;
	cursor: pointer;
}

#apple {
	width: 250px;
	margin-bottom: 6px;
	cursor: pointer;
}
.best-table tr:hover {
	background-color: yellow;
}



.playstore {
	margin-top: 70px;
}

/* CONTENTS */

.section {
	background-color: white;
	text-align: center;
	justify-content: space-around;
}

.section1 {
	width: 45%;
	height: 300px;
	display: inline-block;
	margin-right: 50px;
}

.con1 {
	overflow: hidden;
	height: 250px;
	position: relative;
}

#main_h2 {
	position: absolute;
	top: 60%;
	left: 10%;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
}

.con-img1 {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.section1:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.section2:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.section3:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.section4:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.section2 {
	width: 45%;
	height: 300px;
	display: inline-block;
}

.con2 {
	overflow: hidden;
	height: 250px;
	position: relative;
}

.con-img2 {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.section3 {
	width: 45%;
	height: 300px;
	display: inline-block;
	margin-right: 50px;
}

.con3 {
	overflow: hidden;
	height: 250px;
	position: relative;
}

.con-img3 {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.section4 {
	width: 45%;
	height: 300px;
	display: inline-block;
}

.con4 {
	overflow: hidden;
	height: 250px;
	position: relative;
}

.con-img4 {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

/* 베너 */
#banner {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}

video {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#more {
	width: 150px;
	position: absolute;
	top: 25%;
	left: 80%;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

#more:hover {
	transform: rotate(-45deg);
	transition: all ease 1s;
}

.banner_ad {
	position: absolute;
	font-family: 'Black Han Sans', sans-serif;
	color: white;
	font-size: 75px;
	top: 10%;
	left: 10%;
}

.banner_ad2 {
	position: absolute;
	font-family: 'Black Han Sans', sans-serif;
	color: white;
	font-size: 40px;
	top: 50%;
	left: 10%;
}

#poster {
	height: 180px;
	width: 70%;
	cursor: pointer;
}

#main_h3 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

/* BEST게시글 */
.hits {
	margin-bottom: 150px;
}

.aside {
	background-color: white;
	margin-top: 100px;
}

.hitxt {
	display: block;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.since1 h1 {
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: gray;
}

.sintxt {
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 16px;
}

#main_table {
	width: 100%;
	text-align: center;
	border-radius: 10px;
}

#main_table tr>td {
	width: 80%;
}

.sintxt li {
	margin: 10px;
}

.footer {
	background-color: rgb(238, 238, 238);
	margin-top: 0;
}

.movetopbtn {
	position: fixed;
	right: 0;
	width: 50px;
	height: 50px;
	right: 30px;
	bottom: 30px;
}

.footer1 {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 30px;
}

.footer2 {
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footera::before {
	content: "  |  ";
	margin-left: 8px;
}

#underlogo {
	font-family: 'Black Han Sans', sans-serif;
	margin-right: 30px;
	cursor: pointer;
	height: 50px
}