.container{
	font-family: 'Noto Sans KR', sans-serif;
}
.title {
    text-align: center;
}
.list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.asidelist {
    display: flex;
    justify-content: center;
	width: 30%;
}
.sectionlist {
	width: 65%;
}
#space_icon{
    width: 30px;
}

/* 컨테이너 - 부트스트랩 */
#space_host_h1{
    font-family: 'Do Hyeon', sans-serif;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 50px;
}
#space_host_h2{
    font-family: 'Do Hyeon', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-left: 50px;
	color: rgb(37, 49, 109)
}
.container {
	margin-top: 150px;
	margin-bottom: 100px;
}
.contents{
    width: 100%;
    font-family : 'Noto Sans KR' , sans-serif;
    margin: 40px 10% 40px 10%;
    padding: 65px;
    text-align: center;
    margin: 0  auto;
    border:1px solid rgb(238, 238, 238);
    border-radius:10px;
}
/* 검색박스 */
.search_box {
    border: 1px solid rgb(37, 49, 109);
    padding: 20px 0 10px 0;
    margin-bottom: 100px;
    width: 100%;
}
#datepicker2, #datepicker {
    width: 150px;
    height: 30px;
    margin-right: 2px;
}
.ui-datepicker-trigger {
    width: 20px;
    height: 30px;
    margin-bottom: 5px;
}
.search_box_ul li {
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
    margin-bottom: 20px;
}
.search_box_ul p {
    margin-right: 20px;
}
.search_box_ul label > input[type="checkbox"] {
	margin-right: 5px;
}
#check_label {
	margin-right: 10px;
}
.search_btn {
    display: flex;
    justify-content: center;
}
.search_btn button {
	border:0;
    background-color: rgb(238, 238, 238);
    padding:10px 20px 10px 20px;
    border-radius: 5px
}
.search_table {
    width: 100%; 
}
.search_table th {
    width: 15%;
    text-align: center;
    border-bottom: 2px solid rgb(37, 49, 109);
}
.txt_primary {
    font-size: small;
    text-align: left;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#ad_th{
    background-color:  rgb(238, 238, 238);
    padding: 10px;
}

#ad_th{
    padding: 10px;
}
#ad_one2one_h1{
    font-family: 'Do Hyeon', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
}
#ad_one2one_h2{
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 50px;
    color: rgb(37, 49, 109);
    text-align: center;
}