.title_join {
    margin: 40px 20% 40px 20%;
}

.contents {
    width: 60%;
    margin: 40px 20% 40px 20%;
    padding: 40px 0 40px 0;
    
}
#insert div input{
	border-radius : 5px;
    width: 60%;
    margin-bottom: 15px;
    margin-left:20%;
}
.contents p{
    text-align: left;
    margin-top: 10px;
    color: gray;
}
#insert{
    color: gray;
}
.check {
	display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
}
#checkForm textarea{
	border-radius : 5px;
    width: 60%;
    margin-left:20%;
    margin-bottom: 10px;
}
#joinbtn{
    width: 60%;
    background-color:white;
    color: gray;
    margin-left:20%
    
}
.contents hr {
	margin: 40px 20% 40px 20%;
}