#login_h1{
    font-family: 'Do Hyeon', sans-serif; 
    margin-left: 50px;
    margin-top: 50px; 
    font-size: 50px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 100px;
}
.id, .pw {
    margin-bottom: 30px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    
}
.contents {
    border: 1px solid  rgb(238, 238, 238);
    width: 60%;
    margin: 40px 20% 40px 20%;
    padding: 40px;
    text-align: center;
    margin: 0  auto;
    border-radius:5%;
}
.check {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
}
#find_a {
    float: right;
    margin-right: 20%;
    text-decoration: none;
}
#find_a:visited {
	text-decoration: none;
    color: gray;
}
#find_a:hover {
	text-decoration: none;
    color: red; 
}
#loginbtn{
    width: 60%;
    margin: 0 20% 10px 20%;
    background-color: rgb(238, 238, 238);
    border: 0;
}
.yet {
    font-size: small;
    color: gray;
    margin-left: 20%;
}
.joingo {
    display: flex;
    flex-flow: row;
    justify-content:space-evenly
}
.joingo a {
    height: 20px;
    font-size: small;
}