.login{
    padding-top: 40px;
    text-align: center;
    margin: 0  auto;
}
.id, .pw {
    margin-bottom: 30px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    
}
.check {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 50px;
}
a {
    float: right;
    margin-right: 50px;
    
}
a:visited {
    color: gray;
}
a:hover {
    color: red; 
}
#loginbtn{
    margin-bottom: 10px;
    width: 400px;
    background-color: rgb(238, 238, 238);
    border: 0;
}
.yet {
    font-size: small;
    color: gray;
    margin-left: 20px;
}
.joingo {
    display: flex;
    flex-flow: row;
    justify-content:space-evenly
}
.joingo a {
    height: 20px;
    font-size: small;
}